* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Contenedor principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos de la barra de navegación */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.selec {
  padding: 2px;
  border: 5px solid #4caf50;
  border-style: double;
  border-radius: 5px;
}

.brand {
  font-size: 24px;
}

.navbar nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar nav ul li a,
.navbar nav ul li b {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar nav ul li a:hover,
.navbar nav ul li b:hover {
  background-color: #368039;
  color: #4caf50;
}

/* Estilos de productos en catálogo */
.featured-categories {
  text-align: center;
  padding: 20px;
}

.featured-categories h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.category {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  position: relative;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
}

.category button {
  width: 33px;
  height: 33px;
  border: 0px;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 10px;
}

.category .edit-button {
  width: 33px;
  height: 33px;
  border: 0px;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  top: 60px;
  left: 10px;
  right: 10px;
}

.category img {
  width: 100%;
  border-radius: 5px;
  margin-top: 20px; /* Ajuste de separación entre la imagen y los botones */
}

.category h3 {
  margin: 10px 0;
}

.category h4 {
  margin: 10px 0;
  color: #4caf50;
}

.category h5 {
  font-size: 12px;
  margin: 5px 0;
  color: #a8a8a8;
}

/* Estilos del pie de página */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin-top: 50px;
}

.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer .contact-info,
.footer .social-media {
  flex: 1;
  margin: 10px;
}

.footer .contact-info h3,
.footer .social-media h3 {
  color: #fff;
  margin-bottom: 10px;
}

.footer .contact-info p {
  color: #ccc;
}

.footer .social-media ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.footer .social-media ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer .social-media ul li a:hover {
  color: #4caf50;
}

.footer .copyright {
  text-align: center;
  margin-top: 20px;
}
