/* Estilos globales */
body {
  margin: 0;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  color: #333;
}

/* Estilos de la barra de navegación */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.selec {
  padding: 2px;
  border: 5px solid #4caf50;
  border-style: double;
  border-radius: 5px;
}

.brand {
  font-size: 24px;
}

.navbar nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar nav ul li a,
.navbar nav ul li b {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar nav ul li a:hover,
.navbar nav ul li b:hover {
  background-color: #368039;
  color: #4caf50;
}

/* Barra de navegación */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar nav ul {
  list-style-type: none;
  padding: 0;
}

.navbar nav ul li {
  display: inline;
  margin-right: 20px;
}

.navbar nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar nav ul li a:hover {
  color: #4caf50;
}

/* Sección de Contacto y Redes Sociales */
.special-promotions {
  text-align: center;
  padding: 20px;
}

.special-promotions .title {
  font-size: 36px;
  color: #4caf50;
  margin-bottom: 20px;
}

.special-promotions h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.special-promotions .social-button {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.special-promotions .social-button:hover {
  color: #4caf50;
}

/* Línea decorativa */
.line {
  border-bottom: 5px double #333;
  margin-left: 10%;
  margin-right: 10%;
}

/* Sección de Misión y Visión */
.mission-vision {
  text-align: center;
  padding: 20px;
}

.mission-vision h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.mission-vision h2 {
  font-size: 24px;
  color: #4caf50;
  margin-bottom: 10px;
}

.mission-vision p {
  font-size: 18px;
  line-height: 1.6;
  color: #666;
  margin-left: 10%;
  margin-right: 10%;
}

/* Pie de página */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin-top: 20px;
}

.footer .footer-content {
  display: flex;
  justify-content: space-between;
}

.footer .contact-info h3,
.footer .social-media h3 {
  color: #fff;
}

.footer .contact-info p {
  color: #ccc;
}

.footer .social-media ul {
  list-style-type: none;
  padding: 0;
}

.footer .social-media ul li {
  display: inline;
  margin-right: 10px;
}

.footer .social-media ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer .social-media ul li a:hover {
  color: #4caf50;
}

.footer .copyright {
  text-align: center;
  margin-top: 20px;
}
